<h1>Users</h1>

<ul class="users thumbnails">
  <li class="span3">
    <div class="thumbnail user">
      <a href="<%= new_admin_user_path %>" title="Add user"><%= add_icon %></a>
    </div>
  </li>
  <% users.each do | user | %>
    <%= content_tag_for :li, user, class: 'span3' do %>
      <div class="thumbnail user">
        <h3><%= user.login %></h3>
        <p><%= user.email %></p>
        <div class="footer">
          <a href="<%= edit_admin_user_path(user) %>" title="Edit"><%= edit_icon %></a>
          <a href="<%= remove_admin_user_path(user) %>" title="Delete"><%= remove_icon %></a>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
